.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 4px;
}

.pagination button {
  min-width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #d94c90;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #f9cac8;
  color: #fff;
}
